<!doctype html>
<html>
  <head>
    <title>thingy</title>
    <style>  
      div.thickmargin {
        padding: 10px;
        
      }
      li {  
        color: black;  
        width: 600px;
        list-style-type: none;
        background-color: #e7ebf2;
        margin-top: -1px;
        border: 1px solid white;
        border-bottom: 1px solid #D2D9E7;
	font-size:11px;
      }  

      li.first {
         margin-top: 0px; 
      }

      a {
        color: #3b5998;
      }
    </style>  

    {% if request.user.is_authenticated %}
    <link rel="alternate" title="My comments" href="http://electric-sword-7186.herokuapp.com{% url feed user_id=user.id feed_id=feed_id %}" type="application/rss+xml" />
    {% endif %}
    {% block head %}{% endblock head %}
  </head>
  <body style="background-color: #e7ebf2;">
    <p>
    {% if request.user.is_authenticated %}
    <img src="https://graph.facebook.com/{{ request.user.username }}/picture" alt="profile picture" />
    Welcome, {{ request.user.first_name }}!
    {% else %}
    <a href="{% url facebook:login %}">login</a>
    {% endif %}
    </p>
    {% block content %}
    {% endblock content %}        
  </body>
</html>
