<!doctype html>
<html>
  <head>
    <title>thingy</title>
    <style>  
      div.thickmargin {
        margin: 10px;
      background: #E7EBF2;  
      }
    li{  
      background: white;
      color: black;  
      width:600px
      padding-top: 10px;  
      padding-right: 0px;  
      padding-bottom: 10px;  
      padding-left: 2px;  
      list-style-type: none;
    }  
    </style>  

    {% if request.user.is_authenticated %}
    <link rel="alternate" title="My comments" href="http://electric-sword-7186.herokuapp.com{% url feed user_id=user.id feed_id=feed_id %}" type="application/rss+xml" />
    {% endif %}
    {% block head %}{% endblock head %}
  </head>
  <body style="background-color: #e7ebf2;">
    <p>
    {% if request.user.is_authenticated %}
    <img src="https://graph.facebook.com/{{ request.user.username }}/picture" alt="profile picture" />
    Welcome, {{ request.user.first_name }}!
    {% else %}
    <a href="{% url facebook:login %}">login</a>
    {% endif %}
    </p>
    {% block content %}
    {% endblock content %}        
  </body>
</html>
