{% extends 'base.html' %}
{% load markup %}

{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>
  var clickFunc = function (caller) {
      $.post('{% url delete %}', {id: caller.id});
      $(caller).parent().hide('fast');
    };
</script>
{% endblock head %}

{% block content %}
<p>
{% if bookmarks %}
Here are the bookmarks you've saved. You can also get an RSS feed <a href="http://electric-sword-7186.herokuapp.com{% url feed user_id=request.user.id feed_id=feed_id %}">here</a>.


<ul>
  {% for b in bookmarks %}
  <li><div class="thickmargin"><a target="_blank" href="{{ b.get_url }}" id="{{ b.id }}">{{ b.title }}-{{ b.date }}</a><br />{{ b.description|markdown }} <a id="{{ b.id }}" onclick="javascript:clickFunc(this);">Delete</a></div></li>
  {% endfor %}
</ul>

{% else %}
Nothing here yet! Go bookmark some stuff, then come back!
{% endif %}
</p>
{% if bad %}
<p>
Also, there w{{ bad|pluralize:"as,ere" }} {{ bad }} post{{ bad|pluralize }} we couldn't get. Sorry!
</p>
{% endif %}
{% endblock content %}
